<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <H1>H1 text</H1>
    <h2>H2 text</h2>
    <h6>H6 text</h6>
    <p>text No description, website, or topics provided.

    Copied from: batnasunru08-source/autotests-ui</p>
    <a href="https://github.com/batnasunru08-source/autotests-ui" target="_blank">github</a>
    <img alt="browsers.png" src="https://playwright.dev/python/img/logos/Browsers.png" style="width: 250px">
    <ul>
        <li></li>
    </ul>
</div>

</body>
</html>